.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
dist/
.deploy*/
src/_drafts
src/temp/
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
